@import url("fonts.css");
:root{
    --cor-texto: #555;
    --cor-sub: #333;
    --cor-primaria:#1351b4;
    --cor-secundaria:#0c326f;
}
html{
font-size: 62.5%;
line-height: 1.75;
}
html, body{
margin:0 !important;
padding:0 !important;
font-family: 'rawline', 'Arial', sans-serif !important;
width: 100%;
max-width: 100%;
height: 100%;
min-height: 100vh;
background:#FFFFFF;
color: var(--cor-texto);
}
a{
text-decoration: none !important;
transition:all 0.3s linear;
}
ul{
margin:0 !important;
padding:0 !important;
}
ul li{
padding:0;
margin:0;
list-style: none;
}
img{
max-width: 100%;
height:auto;
border:0;
outline: 0;
}
button, input, a, select, textarea{
outline: 0 !important;
border:0;
text-decoration: none;
transition:all 0.2s linear;
}
.container{
max-width:1167px !important;
width:100% !important;
position:relative;
z-index:3;
}
#site-header {
background-color: #fff;
position: relative;
z-index: 999;
}
#site-header .header-wrapper {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
padding-bottom: 4px;
padding-top: 4px;
position: relative;
}
.br-header {
background: #fff;
display: flex;
padding: 16px 0;
position: relative;
width:100%;
}
.br-header .header-top {
display: flex;
justify-content: flex-end;
width: 100%;
}
.br-header .header-logo {
align-items: center;
display: flex;
flex: 1;
float: left;
gap: 16px;
}
.br-header .header-logo img, .br-header .header-logo svg {
max-height: 40px;
}
.br-header .header-actions {
align-items: center;
display: flex;
justify-content: flex-end;
}
.br-button {
align-items: center;
background-color: transparent;
border: 0;
border-radius: 40px;
color: #1351b4;
cursor: pointer;
display: inline-flex;
font-size: 16.8px;
font-weight: 600;
height: 32px;
justify-content: center;
overflow: hidden;
padding: 0 24px;
position: relative;
text-align: center;
vertical-align: middle;
white-space: nowrap;
width: auto;
}
.links-rapidos.svelte-19kdt9x ul.svelte-19kdt9x, li.svelte-19kdt9x.svelte-19kdt9x {
white-space: nowrap;
margin: 0;
padding: 0px;
}
.links-rapidos.svelte-19kdt9x ul li.svelte-19kdt9x {
display: flex;
flex-direction: row;
align-items: center;
margin: 0;
height:fit-content;
}
.links-rapidos.svelte-19kdt9x ul li.titulo.svelte-19kdt9x {
color: #333;
display: none;
font-size: 14px;
font-weight: bold;
padding: 16px;
border: none;
text-align: center;
}
.links-rapidos.svelte-19kdt9x ul li a.svelte-19kdt9x {
font-size: 14px;
color:var(--cor-primaria);
transition: all .2s linear;
}
.links-rapidos.svelte-19kdt9x ul li a.svelte-19kdt9x:hover{
color:var(--cor-secundaria);
}
.br-divider.vertical, hr.vertical {
align-self: stretch;
border-right-width: 1px;
border-top-width: 0;
}
.br-divider, hr {
border-color: #ccc;
border-style: solid;
border-width: 0;
display: block;
}
.wrapper.svelte-1jznxvb {
display: flex;
flex-direction: row;
gap: 2px;
margin-right: 8px;
}
.wrapper.svelte-18ap8dw {
margin-left: 6px;
}
.button-wrapper.svelte-18ap8dw {
display: flex;
align-items: center;
}
.langue-select.svelte-18ap8dw {
all: unset;
color:var(--cor-primaria);
font-weight: 700;
margin-right: 2px;
font-size: 16px;
}
.langue-select.svelte-18ap8dw + button{
font-size: 14px;
width:24px;
}
.sr-only {
border: 0;
clip: rect(0,0,0,0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
.br-button.circle, .br-button[circle] {
border-radius: 50%;
padding: 0;
width: 32px;
}
.br-button:not(:disabled):not(:disabled):hover {
background-image: linear-gradient(rgba(19,81,180,.16),rgba(19,81,180,.16));
}
.cta-wrapper.svelte-7keokj {
position: relative;
}
.br-sign-in {
align-items: center;
background-color: transparent;
border: 0;
border-radius: 100em;
color: var(--cor-primaria);
cursor: pointer;
display: inline-flex;
font-size: 16.8px;
font-weight: 600;
height: 40px;
justify-content: center;
overflow: hidden;
padding: 0 24px;
position: relative;
text-align: center;
vertical-align: middle;
white-space: nowrap;
width: auto;
background-color: #f8f8f8;
padding: 0 16px 3px;
margin-left: 15px;
}
.br-sign-in.primary, .br-sign-in[primary] {
background-color: var(--cor-primaria);
color: #fff;
}
.br-sign-in.primary:hover, .br-sign-in[primary]:hover{
background-color: var(--cor-secundaria);
}
.br-sign-in i{
margin-right:6px;
}
#site-header .header-wrapper .site-name-wrapper {
align-items: baseline;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
#site-header .header-wrapper .site-name-wrapper .toggle-main-navigation {
color: #1351b4;
cursor: pointer;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin-right: 4px;
width: auto;
border-radius: 50%;
padding: 0;
margin-left: -4.875px;
}
#site-header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa {
display: inline-block;
text-align: center;
}
#site-header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa-times {
display: none;
}
#site-header .header-wrapper .site-name-wrapper .site-name {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
margin: 0;
padding: 0;
}
#site-header .header-wrapper .site-name-wrapper .site-name a {
--webkit-box-orient: vertical;
--webkit-line-clamp: 2;
display: -webkit-box;
overflow: hidden;
color: #333;
font-size: 1.4rem;
font-weight: 400;
line-height: 16px;
padding: 0 0 3px;
}
.govbr-busca-header {
height: 56px;
margin: 0 0 0 8px;
min-width: 56px;
width: 56px;
}
.govbr-busca-header #govbr-busca-input {
-webkit-box-align: stretch;
-ms-flex-align: stretch;
align-items: stretch;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 56px;
left: calc(100vw - 56px);
overflow: hidden;
position: absolute;
right: 0;
top: 0;
left: 100%;
-webkit-transition: left 300ms ease-in-out, right 200ms linear;
transition: left 300ms ease-in-out, right 200ms linear;
z-index: 2;
}
.aa-Autocomplete {
width: 100%;
}
.aa-Form {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: #ededed;
border-radius: 6px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
line-height: 1em;
margin: 0;
position: relative;
width: 100%;
border: 1px solid #ededed;
}
.aa-InputWrapperPrefix {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-negative: 0;
flex-shrink: 0;
height: 54px;
height: 54px;
-webkit-box-ordinal-group: 3;
-ms-flex-order: 2;
order: 2;
align-items: center;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}
.aa-LoadingIndicator[hidden] {
display: none;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
border-style: none;
padding: 0;
}
.govbr-busca-header .aa-SubmitButton {
margin-right: 7px;
width: 36px;
height: 36px;
color: var(--cor-primaria);
font-size: 20px;
border-radius: 50%;
}
.govbr-busca-header .aa-SubmitButton:hover{
background-color: #dbe8fb;
}
.aa-InputWrapper {
-webkit-box-ordinal-group: 2;
-ms-flex-order: 1;
order: 1;
position: relative;
width: 100%;
}
.aa-Input::placeholder {
color: #333;
font-size: 1.6rem;
font-style: italic;
font-weight: 500;
}
.aa-Input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: none;
border: 0;
color: rgba(38, 38, 39, 1);
color: rgba(38, 38, 39,1);
font: inherit;
height: 54px;
padding: 0 32px 0 32px;
width: 100%;
font-size: 16px;
font-weight: 500;
}
#breadcrumbs .content {
border-bottom: 1px solid rgba(0,0,0,0.1);
padding-top: 0;
padding-bottom: 12px;
font-size: 1.4rem;
}
#breadcrumbs .content .home::before {
content: none;
}
#breadcrumbs .content > span::before {
content: '>';
color: #9e9d9d;
padding: 0 8px;
vertical-align: text-bottom;
font-size: 1.2rem;
}
#breadcrumbs .content > span a {
font-size: 1.4rem;
text-decoration: none;
color: #1351b4;
font-weight: 500;
}
#breadcrumbs .content > span {
text-decoration: none;
color: #333;
font-size: 1.4rem;
font-weight: 600;
}
footer{
background-color: #071d41;
padding: 30px 0 0;
}
footer .copy{
padding: 20px 0 15px;
background-color: #04132a;
}
.logo-rodape{
max-width: 140px;
margin: 0 auto 20px;
}
footer span{
display: block;
text-align: center;
color: #fff;
font-size: 14px;
margin: 0 0 10px;
}
.links-rodape{
display: flex;
align-items: center;
justify-content: center;
margin:0 auto 20px;
}
.links-rodape a{
position: relative;
color:#fff;
font-size: 14px;
transition: all 0.3s linear;
}
.links-rodape a:hover{
color:#5992ed;
}
.links-rodape a:not(:last-child){
margin-right: 15px;
padding-right: 15px;
}
.links-rodape a:not(:last-child):after{
content:"";
width:1px;
height:20px;
background-color: #fff;
position: absolute;
right:0;
top:50%;
transform: translateY(-50%);
}
footer .copy span{
display: block;
text-align: center;
font-size: 13px;
line-height: 1;
}
footer .copy span a{
color:#fff;
font-weight: 600;
transition: all 0.3s linear;
}
footer .copy span a:hover{
color:#5992ed;
}
#inicio h2{
font-size: 2.6rem;
font-weight: 700;
color: #0c326f;
line-height: 40px;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
margin: 0 0 10px;
}
.card-servicos{
background: #fff;
border: 1px solid #e5e7eb;
box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 20px;
}
.card-servicos h3{
display: block;
margin-bottom: 10px;
font-size: 20px;
font-weight: 600;
color: #333;
}
.card-servicos .servico{
margin:5px 0;
padding:8px 0;
border-bottom: 1px dashed #ccc;
cursor: pointer;
transition:all .2s linear;
}
.card-servicos .servico:hover .content-servico{
background-color:#dbe8fb;
}
.card-servicos .servico:last-child{
border:0;
}
.card-servicos .servico .content-servico .texto{
width:calc(100% - 50px);
}
.card-servicos .servico .content-servico .texto strong{
display: block;
font-size: 18px;
font-weight: 700;
color: var(--cor-primaria);
line-height: 1.3;
}
.card-servicos .servico .content-servico .texto span{
display: block;
font-size: 16px;
color: #333;
font-weight: 500;
line-height: 1.2;
}
.card-servicos .servico .content-servico .icone{
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
color: var(--cor-primaria);
}
section#inicio{
padding:25px 0 60px;
}
.como-solicitar{
padding:55px 0;
}
.cards-como .card-como{
width: 32%;
background: #fff;
border: 1px solid #e5e7eb;
box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 20px 30px 25px;
}
.cards-como .card-como .icone{
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto 10px;
color: var(--cor-primaria);
font-size: 22px;
border-radius: 50%;
background-color: #dbe8fb;
}
.cards-como .card-como h3{
text-align: center;
font-size: 18px;
font-weight: 600;
color: #333;
margin: 0 auto 10px;
}
.cards-como .card-como p{
color: #555;
font-size: 15px;
text-align: center;
margin: 0;
}
.duvidas .duvida h4{
display: flex;
align-items: center;
justify-content: space-between;
font-size: 20px;
font-weight: 600;
color: #333;
}
.duvidas .duvida h4 i{
color: var(--cor-primaria);
font-size: 18px;
transition: all .2s linear;
}
.duvidas .duvida h4[aria-expanded="true"] i{
transform:rotate(180deg);
}
.duvidas .duvida p{
color: #555;
font-size: 16px;
font-weight: 500;
padding: 5px 10px;
margin: 0;
max-width: 800px;
}
.duvidas .duvida{
margin-bottom: 20px;
}
#formDados .step{
display: none;
}
#formDados .step.active{
display: block;
}

.steps-form .step{
position: relative;
width: 33.3333%;
text-align: center;
}
.steps-form .step .icone{
width: 38px;
height: 38px;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
background-color: #918d8d;
border-radius: 50%;
font-size: 18px;
margin: 0 auto;
}
.steps-form .step span{
display: block;
text-align: center;
color:#777;
font-size: 14px;
font-weight: 500;
}
.steps-form .step.active .icone, .steps-form .step.completed .icone{
background-color: var(--cor-primaria);
}
.steps-form .step.active span,.steps-form .step.completed span{
color:#333;
}
.steps-form .step:after{
content: "";
width: 356px;
height: 1px;
background: #ccc;
position: absolute;
top: 19px;
right: -178px;
z-index: -1;
}
.steps-form .step:last-child:after{
display: none;
}
.steps-form .step.completed:after{
background:var(--cor-primaria);
}
.steps-form{
padding: 30px 0;
}
.input-form{
width:100%;
position:relative;
margin:0 0 20px;
}
.input-form label{
color:#333;
font-weight: 600;
font-size: 16px;
display: block;
width:100%;
padding:0 2px 2px;
}
.input-form input{
width:100%;
height:46px;
border:1px solid #ccc;
background-color: #fff;
padding:5px 15px;
font-size: 16px;
font-weight: 500;
color:#555;
border-radius: 7px;
}
.input-form input.is-invalid, .input-form select.is-invalid{
border-color: #f00;
color: #f00;
}
.input-form select{
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
width:100%;
height:46px;
border:1px solid #ccc;
background-color: #fff;
padding:5px 15px;
font-size: 16px;
font-weight: 500;
color:#555;
border-radius: 7px;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(85,85,85,1)'%3E%3Cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'%3E%3C/path%3E%3C/svg%3E");
background-size: 20px;
background-repeat: no-repeat;
background-position: center right 10px;
cursor: pointer;
}
#formDados{
max-width: 970px;
margin:0 auto;
}
button.btnSubmit{
width: 100%;
height: 46px;
border-radius: 7px;
background-color: var(--cor-primaria);
color: #fff;
font-weight: 700;
font-size: 16px;
transition: all .2s linear;
align-items: center;
margin-top:10px;
}
button.btnSubmit:hover{
background-color: var(--cor-secundaria);
}
section#agendamento{
padding:10px 0 60px;
min-height: calc(100vh - 442px);
}
.s-hidden {
visibility:hidden;
padding-right:10px;
}
.select {
cursor: pointer;
display: inline-block;
position: relative;
appearance: none;
width: 100%;
padding: 0;
margin-bottom: 0px;
border: 0;
transition: box-shadow 150ms ease 0s, border-color 150ms ease 0s, padding 150ms ease 0s !important;
background-color: transparent !important;
}
.styledSelect {
position: absolute;
top: 50%;
right: 0;
bottom: 0;
left: 0;
background-color: transparent;
padding: 0;
transform: translateY(-50%);
height: 100%;
opacity: 0;
color:#555;
z-index: 5;
}
.styledSelect:active, .styledSelect.active {
background-color:transparent;
}
.options {
display:none;
position:absolute;
top:100%;
width: 100%;
left: 0;
z-index:999;
padding:0 0;
list-style:none;
border:1px solid #B7B7B7D6;
background-color: #f9f9f9;
border-radius:0;
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
max-height: 220px;
overflow-y: auto;
color:#555;
font-size:15px;
margin: 0 !important;
}
.options li {
padding:0 6px;
margin:0 0;
padding:0 10px;
height:34px;
font-size:14px;
display:flex;
align-items:center;
color:#555;
}
.options li:hover{
background:var(--cor-secundaria);
color:#fff;
}
#loading-form {
display: none;
align-items: center;
justify-content: center;
position: fixed;
top: 0;
left: 0;
z-index: 9999;
background: rgb(255,255,255,.6);
width: 100%;
height: 100%;
}
.toastify{
font-size: 14px !important;
line-height: 19px !important;
}
.box-resumo{
background-color: rgb(249,250,251,1);
padding: 10px 15px 15px;
border-radius: 10px;
border: 1px solid #f2f2f2;
}
.box-resumo h3{
font-size: 22px;
font-weight: 600;
color: #0c326f;
line-height: 34px;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
}
.box-resumo .item-resumo{
font-size: 16px;
font-weight: 500;
color: #333;
margin: 0 0 6px;
}
.aviso-resumo{
color: #856404;
background-color: #fff3cd;
border: 1px solid #ffeeba;
padding: 15px;
border-radius: 10px;
margin: 20px 0 25px;
}
.aviso-resumo p{
font-size: 15px;
line-height: 20px;
margin: 0;
}
#topbar{
background-color: var(--cor-primaria);
position: relative;
width: 100%;
left: 0;
top: 0;
z-index: 1001;
height: 36px;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
}
#topbar i{
margin-right:8px;
font-size: 15px;
}
#topbar span{
font-size:15px;
}
#loading {
display: flex;
justify-content: center;
align-items: center;
min-height: 460px;
font-size: 24px;
color: rgb(198, 129, 0);
background-color: white;
}
#pixArea p{
font-size: 16px;
}
.options-qr {
display: flex;
align-items: center;
justify-content: center;
gap: 16px;
}
.options-qr #qrcode{
width:180px;
}
.options-qr-instructions {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 16px;
width:calc(100% - 200px);
}
.options-qr2{
display: none;
}
#pixArea{
padding: 25px 0 60px;
min-height:calc(100% - 478px);
}
#loading{
min-height:calc(100% - 478px);
}
#copy-icon{
border-radius: 10px;
font-size: 16px;
}
#copy-button{
display: flex;
align-items: center;
justify-content: center;
align-content: center;
background: var(--cor-primaria);
color: #fff;
font-weight: 700;
border-radius: 10px;
transition: all .2s linear;
font-size: 15px;
}
#copy-button i{
font-size: 18px;
margin-left: 5px;
}
#copy-button:hover{
background:var(--cor-secundaria);
}
.box-resumo.final p{
font-size: 16px;
font-weight: 500;
line-height: 22px;
margin: 0 0 20px;
}
.box-resumo.final p strong{
color:var(--cor-secundaria);
}
.box-resumo.final ul li{
display: flex;
align-items: center;
font-size: 16px;
font-weight: 500;
color: #555;
margin: 0 0 10px;
}
.box-resumo.final ul li i{
font-size: 18px;
color: #f04343;
margin-right: 8px;
}
.box-resumo.final h2{
color: #f04343;
font-weight: 700;
font-size: 24px;
margin: 20px 0 10px;
}
.aviso-resumo.obrigatorio{
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
}
.concluido p{
font-size: 16px;
font-weight: 500;
line-height: 22px;
margin: 0 0 10px;
text-align: center;
}
.concluido p strong{
color:var(--cor-secundaria);
}
.concluido h2{
text-align: center;
font-size: 22px;
font-weight: 600;
color: #0c326f;
line-height: 34px;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
margin:0 auto 20px;
}
.concluido h3{
text-align: center;
font-size: 16px;
font-weight: 600;
color: var(--cor-secundaria);
line-height: 16px;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
background-color: #dbe8fb;
padding: 9px 10px 12px;
max-width: 400px;
margin: 25px auto;
}


@media only screen and (min-width: 768px) {
    #site-header .header-wrapper {
        padding-bottom: 0;
        padding-top: 16px;
    }
    .br-header .header-logo {
        margin: 0;
    }
    .links-rapidos.svelte-19kdt9x.svelte-19kdt9x {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    .links-rapidos.svelte-19kdt9x .toggle-links-rapidos.svelte-19kdt9x {
        display: none;
    }
    .links-rapidos.svelte-19kdt9x ul.svelte-19kdt9x {
        display: flex !important;
        gap: 8px;
    }
    a.svelte-19kdt9x.svelte-19kdt9x {
        padding: 4px 8px;
        border-radius: 16px;
    }
    .mx-sm-1 {
        margin-left: 4px !important;
        margin-right: 4px !important;
    }
    .wrapper.svelte-18ap8dw {
        position: relative;
    }
    #site-header .main .header-wrapper {
        min-height: 88px;
        padding-bottom: 16px;
        padding-top: 16px;
    }
    #site-header .header-wrapper .site-name-wrapper .toggle-main-navigation {
        margin-left: -5.5px;
    }
    #site-header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa {
        font-size: 24px;
        line-height: 32px;
        width: 32px;
    }
    #site-header .header-wrapper .site-name-wrapper .site-name a {
        font-size: 2.4rem;
        line-height: 26px;
        padding: 0 0 4px;
    }
    .govbr-busca-header {
        margin-left: 20px;
        min-width: 384px;
        width: 384px;
    }
    .govbr-busca-header #govbr-busca-input {
        left: 768px;
        right: 0;
        border-radius: 6px;
        top:16px;
        z-index:4;
    }
}

@media(max-width:992px){
.logo-rodape {
max-width: 120px;
margin: 0 auto 20px;
}
footer span{
font-size: 13px;
}
.links-rodape a{
font-size: 13px;
}
.links-rodape a:not(:last-child)::after {
height: 14px;
top: calc(50% + 2px);
transform: translateY(-50%);
}
footer .copy span {
display: block;
text-align: center;
font-size: 13px;
line-height: 1.5;
}
.links-rapidos.svelte-19kdt9x ul.svelte-19kdt9x{
display: none;
}
.br-sign-in{
margin-left: 0;
}
.br-button.circle, .br-button[circle] {
border-radius: 50%;
padding: 0;
width: 28px;
font-size: 15px;
}
.langue-select.svelte-18ap8dw{
font-size: 15px;
}
.br-header .header-logo img, .br-header .header-logo svg {
max-height: 30px;
}
button.toggle-links-rapidos{
font-size: 20px !important;
}
.govbr-busca-header {
height: 40px;
margin: 0 0 0 8px;
min-width: 40px;
width: 40px;
}
.govbr-busca-header .govbr-busca-toggle {
height: 40px;
line-height: 40px;
top: 7px;
display: flex;
align-items: center;
justify-content: center;
width: 40px;
border-radius: 50px;
font-size: 18px;
color: var(--cor-primaria);
background-color: transparent;
}
.govbr-busca-header #govbr-busca-input{
display: none;
}
#site-header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa {
font-size: 14px;
line-height: 22px;
width: 22px;
}
.br-header{
padding: 12px 0 8px;
}
#breadcrumbs .content{
padding-top: 0;
}
#breadcrumbs .content > span a, #breadcrumbs .content > span {
font-size: 12px;
}
.options-qr{
flex-wrap:wrap;
}
.options-qr-instructions{
display: none;
}
.options-qr2 {
display: block;
margin-top: 20px;
}
.options-qr2 p{
text-align: center !important;
}
.steps-form .step span{
display: none;
}
.steps-form .step .icone {
width: 34px;
height: 34px;
font-size: 16px;
margin: 0 auto;
}
.steps-form .step {
position: relative;
width: 80px;
text-align: center;
}
.steps-form {
padding: 30px 0;
max-width: 240px;
margin: 0 auto;
}
.steps-form .step::after {
content: "";
width: 50px;
height: 1px;
background: #ccc;
position: absolute;
top: 18px;
right: -25px;
z-index: -1;
}
.concluido .icone svg{
width:44px;
height:44px;
}
.concluido h2 {
text-align: center;
font-size: 18px;
line-height: 28px;
}
.concluido p {
font-size: 15px;
}
.concluido h3 {
text-align: center;
font-size: 15px;
max-width: 340px;
}
#inicio h2 {
font-size: 20px;
margin: 0 6px 10px;
text-align: center;
}
.card-servicos h3{
font-size: 18px;
}
.card-servicos .servico .content-servico .texto strong{
font-size: 16px;
}
.card-servicos .servico .content-servico .texto span{
font-size: 15px;
}
.cards-como .card-como {
width: 100%;
max-width: 350px;
margin: 0 auto 20px;
}
.duvidas .duvida{
padding:0 8px;
}
.duvidas .duvida h4{
font-size: 16px;
line-height: 22px;
}
.duvidas .duvida h4 i{
margin-left: 10px;
}
.duvidas .duvida p{
font-size: 15px;
}
#breadcrumbs-2, #breadcrumbs-3{
display: none;
}
#formDados {
max-width: 970px;
margin: 0 auto;
padding: 0 8px;
}
.box-resumo h3 {
font-size: 18px;
}
.box-resumo .item-resumo span{
max-width: 50%;
font-size: 14px;
line-height: 18px;
display: block;
}
.box-resumo .item-resumo span:last-child{
text-align: right;
}
.box-resumo.final ul li{
font-size: 15px;
line-height: 20px;
}
.box-resumo.final p {
font-size: 15px;
}
.box-resumo.final h2{
font-size:22px;
text-align: center;
}
#pixArea {
padding: 25px 20px 60px;
}

















}
